body{
    background-color: aqua;

}

h1{
    text-align: center;

}

img{
    position: absolute;
    border-radius: 8px;
    padding: 5px;
    max-width: 80%;
    height: auto;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navigation{
    background-color: black;
    color: white;
    overflow: hidden;
}

.navigation a{
    float:left;
    /* color: pink; */
    text-align: center;
    text-decoration: none;
    display: flexbox;
    justify-content: space-between;
    font-size: 20px;
}

.navigation a:hover{
    background-color: blueviolet;
    color:beige;
}